@{
    var isLoggedIn = Context.Session.GetInt32("User_Id") != null;
}

<li class="nav-item">
    @{
        @if (isLoggedIn)
    {
        <li class="nav-item">
            <a class="btn btn-primary ml-lg-3" asp-action="UserDashboard" asp-route-id="@Context.Session.GetInt32("User_Id")" asp-controller="Home">Dashboard</a>

        </li>
        <form asp-action="LogoutUser" asp-controller="Home" method="post">
            <button type="submit" class="btn btn-warning ml-lg-3">Logout</button>
        </form>
    }
    
    else{
    
    <li class="nav-item">
        <a class="btn btn-primary ml-lg-3" asp-action="LoginUser" asp-controller="Home">Login</a>

    </li>
    }

    }
    



