@using App.Models.Models
@model CompanyDetails
@{
    ViewData["Title"] = "EditCompany";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">

    <input asp-for="CompanyId" hidden disabled />

    <label asp-for="CompanyName">Company Name</label>
    <input asp-for="CompanyName" type="text" class="form-control" />

    <label asp-for="Address">Address</label>
    <input asp-for="Address" type="text" class="form-control" />


    <label asp-for="Phone">Phone</label>
    <input asp-for="Phone" type="text" class="form-control" />


    <label asp-for="CompanyURL">WEBSITE</label>
    <input asp-for="CompanyURL" type="url" class="form-control" />

    <button class="btn btn-primary" type="submit">Update Company</button>

</form>


