@using App.Models.ViewModels
@model InsuranceCompanyViewModel
@{
    ViewData["Title"] = "Add | Insurace Company";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">


    <div class="form-group" >
    <label asp-for="Ins_Name">Insurance Company Name</label>
    <input asp-for="Ins_Name" type="text" class="form-control" />
    <span class="text text-sm" asp-validation-for="Ins_Name"></span>
    </div>

    <div class="form-group">
    <label asp-for="Phone">Insurance Phone</label>
    <input asp-for="Phone" type="text" class="form-control" />
    <span class="text text-sm" asp-validation-for="Phone"></span>
        </div>
    <div class="form-group">
    <label asp-for="CompantWebsiteUrl">Insurance Website</label>
    <input asp-for="CompantWebsiteUrl" type="text" class="form-control" />
    <span class="text text-sm" asp-validation-for="CompantWebsiteUrl"></span>
            </div>
    <div class="form-group">
        <label asp-for="Address">Insurance Address</label>
        <input asp-for="Address" type="text" class="form-control" />
        <span class="text text-sm" asp-validation-for="Address"></span>
                </div>
    <div class="form-group">
        <label asp-for="Ins_Description">Insurance Company Description</label>
        <textarea asp-for="Ins_Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <span class="text text-sm" asp-validation-for="Ins_Description"></span>

    </div>



    <div class="custom-file">
        <input type="file" asp-for="Ins_CompanyLogo" class="custom-file-input" id="validatedCustomFile">
        <label class="custom-file-label" for="validatedCustomFile">Choose Logo Of Company...</label>
        <span class="text text-sm" asp-validation-for="Ins_CompanyLogo"></span>
    </div>



    <div class="container h-100 my-4">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 text-center">
                <!-- Centered button -->
                <button class="submitBTN" type="submit">Register Insurance</button>
            </div>
        </div>
    </div>
</form>