@using App.Models.ViewModels
@model AdminLoginViewModel
@{
    ViewData["Title"] = "Add | Admin ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">


    <div class="form-group">
        <label asp-for="AdminName">Admin Name</label>
        <input asp-for="AdminName" type="text" class="form-control" />
        <span class="text text-sm" asp-validation-for="AdminName"></span>
    </div>

    

    <div class="form-group">
        <label asp-for="Phone">Admin Phone</label>
        <input asp-for="Phone" type="text" class="form-control" />
        <span class="text text-sm" asp-validation-for="Phone"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Admin Email</label>
        <input asp-for="Email" type="text" class="form-control" />
        <span class="text text-sm" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="AdminPassword">Password</label>
        <input asp-for="AdminPassword" type="text" class="form-control" />
        <span class="text text-sm" asp-validation-for="AdminPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm-Password</label>
        <input asp-for="ConfirmPassword" type="text" class="form-control" />
        <span class="text text-sm" asp-validation-for="ConfirmPassword"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address">Adress</label>
        <input asp-for="Address" type="text" class="form-control" />
        <span class="text text-sm" asp-validation-for="Address"></span>
    </div>
    



    <div class="custom-file">
        <input type="file" asp-for="AdminPhoto" class="custom-file-input" id="validatedCustomFile" required="">
        <label class="custom-file-label" for="validatedCustomFile">Choose Pic for Admin...</label>
        <span class="text text-sm" asp-validation-for="AdminPhoto"></span>
    </div>



    <div class="container h-100 my-4">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 text-center">
                <!-- Centered button -->
                <button class="submitBTN" type="submit">Add Admin</button>
            </div>
        </div>
    </div>
</form>