@model EmpRegister


@{
    ViewData["Title"] = "Contacts Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Do You Want To Delete This Data Permenantly !!</h5>
            <a asp-controller="Admin" asp-action="Dashboard" class="btn btn-info my-2">No</a>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">

                            <input hidden disabled asp-for="empno" />

                            <label asp-for="username" class="form-label">Employee Username</label>
                            <input disabled asp-for="username" type="text" class="form-control" />


                        </div>
                        <div class="mb-3">
                            <label asp-for="Salary" for="exampleInputEmail1" class="form-label">Employee Salary</label>
                            <input disabled asp-for="Salary" type="text" class="form-control">


                        </div>


                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this employee?');">Yes! Delete this Employee</button>



                    </form>


                </div>
            </div>

        </div>
    </div>
</div>
