@using App.Models.ViewModels;
@model EmpRegisterViewModel
@{
    ViewData["Title"] = "UserDashboard";
    Layout = "~/Views/Shared/_EmployeeDashboard.cshtml";

}



<style>

    .submitBTN {
        padding: 1em 2em;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        letter-spacing: 5px;
        text-transform: uppercase;
        cursor: pointer;
        color: #2c9caf;
        transition: all 1000ms;
        font-size: 15px;
        position: relative;
        overflow: hidden;
        outline: 2px solid #2c9caf;
    }

    button:hover {
        color: #ffffff;
        transform: scale(1.1);
        outline: 2px solid #70bdca;
        box-shadow: 4px 5px 17px -4px #268391;
    }

    button::before {
        content: "";
        position: absolute;
        left: -50px;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #2c9caf;
        transform: skewX(45deg);
        z-index: -1;
        transition: width 1000ms;
    }

    button:hover::before {
        width: 250%;
    }

</style>
<div class="untree_co-section pb-0" id="about-section">
    <div class="container">
        <div class="row justify-content-center mb-3">
            
<form asp-action="EmployeeEditbyUser" asp-controller="Employee" method="post">

    <input type="hidden" asp-for="empno" />
     <div class="form-group"> 
    <label asp-for="firstname">First Name</label>
    <input asp-for="firstname" type="text" class="form-control" />
    <span class="text text-sm" asp-validation-for="firstname"></span>
    </div>
     <div class="form-group">
    <label asp-for="lastname">Last Name</label>
    <input asp-for="lastname" type="text" class="form-control" />
    <span class="text text-sm" asp-validation-for="lastname"></span>
                </div>
     <div class="form-group">
    <label asp-for="address">Address</label>
    <input asp-for="address" type="text" class="form-control" />
    <span class="text text-sm" asp-validation-for="address"></span>
                </div>
     <div class="form-group">
    <label asp-for="country">Country</label>
    <input asp-for="country" type="text" class="form-control" />
    <span class="text text-sm" asp-validation-for="country"></span>
                </div>
     <div class="form-group">
    <label asp-for="state">State</label>
    <input asp-for="state" type="text" class="form-control" />
    <span class="text text-sm" asp-validation-for="state"></span>
                </div>
     <div class="form-group">
    <label asp-for="city">City</label>
    <input asp-for="city" type="text" class="form-control" />
    <span class="text text-sm" asp-validation-for="city"></span>
                </div>
     <div class="form-group">
    <label asp-for="joindate">Join Date</label>
    <input asp-for="joindate" disabled type="date" class="form-control" />
    <span class="text text-danger text-sm" asp-validation-for="joindate"></span>
                </div>
     <div class="form-group">
    <label asp-for="designation">Designation</label>
    <input asp-for="designation" type="text" class="form-control" />
    <span class="text text-danger text-sm" asp-validation-for="designation"></span>
                </div>
     <div class="form-group" hidden>
    <label asp-for="Salary" hidden>Salary</label>
                    <input asp-for="Salary" type="number" hidden class="form-control" />
                    <span class="text text-danger text-sm" hidden asp-validation-for="Salary"></span>
                </div>
     <div class="form-group">
    <label asp-for="username">Username</label>
    <input asp-for="username" type="text" class="form-control" />
    <span class="text text-danger text-sm" asp-validation-for="username"></span>
                </div>
                <div class="form-group">
    <label asp-for="password">Password</label>
    <input asp-for="password" type="password" class="form-control" />
    <span class="text text-danger text-sm" asp-validation-for="password"></span>
    <br />
    </div>
    <div class="form-group">
    <label asp-for="contactno">Contact Number</label>
    <input asp-for="contactno" type="text" class="form-control" />
    <span class="text text-danger text-sm" asp-validation-for="contactno"></span>
                </div>
     <div class="form-group">
    <label asp-for="policystatus">Policy Status</label>
    <input asp-for="policystatus" type="text" class="form-control" />
    <span class="text text-sm" asp-validation-for="policystatus"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedPolicyId" class="control-label"></label>
                    <select disabled asp-for="SelectedPolicyId" asp-items="Model.PolicyOptions" class="form-control"></select>
                    <!-- Hidden field to ensure the SelectedPolicyId is included in the form submission -->
                    <input type="hidden" asp-for="SelectedPolicyId" />
                    <span asp-validation-for="SelectedPolicyId" class="text-danger"></span>
                </div>

                <div class="custom-file">
                    <input type="file" asp-for="Employee_Picture" class="custom-file-input" id="validatedCustomFile">
                    <label class="custom-file-label" for="validatedCustomFile">Choose Employee Photo...</label>
                    <span class="text text-sm" asp-validation-for="Employee_Picture"></span>
                </div>
    

    
       
            <div class="col-12 text-center">
                <!-- Centered button -->
                <button class="submitBTN" type="submit">Update Employee</button>
            </div>
        
    
</form>
        </div>
    </div>
</div>