@{
    ViewData["Contact"] = "Contact | HEALTH INSURRANCE";
}


@model Contact

<div class="page-banner overlay-dark bg-image" style="background-image: url(/img/bg_image_1.jpg);">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" >Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">Contact</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section">
    <div class="container">
        <h1 class="text-center wow fadeInUp">Get in Touch</h1>

        <form method="post" class="contact-form mt-5">
            <div class="row mb-3">
                <div class="col-sm-6 py-2 wow fadeInLeft">
                    <label asp-for="Name" >Name</label>
                    <input asp-for="Name"  type="text" id="fullName" class="form-control" placeholder="Full name..">
                    <span asp-validation-for="Name" class=" text-danger text-sm"></span>
                </div>
                <div class="col-sm-6 py-2 wow fadeInRight">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="text" id="emailAddress" class="form-control" placeholder="Email address..">
                    <span asp-validation-for="Email" class=" text-danger text-sm"></span>
                </div>
                <div class="col-12 py-2 wow fadeInUp">
                    <label asp-for="Subject" for="subject">Subject</label>
                    <input asp-for="Subject" type="text" id="subject" class="form-control" placeholder="Enter subject..">
                    <span asp-validation-for="Subject" class=" text-danger text-sm"></span>
                </div>
                <div class="col-12 py-2 wow fadeInUp">
                    <label asp-for="Message" for="message">Message</label>
                    <textarea asp-for="Message" id="message" class="form-control" rows="8" placeholder="Enter Message.."></textarea>
                    <span asp-validation-for="Message" class=" text-danger text-sm"></span>
                </div>

            </div>
            <button type="submit" class="btn btn-primary wow zoomIn">Send Message</button>
        </form>
    </div>
</div>

<div class="maps-container wow fadeInUp">
    <div id="google-maps"></div>
</div>

<div class="page-section banner-home bg-image" style="background-image: url(/img/banner-pattern.svg);">
    <div class="container py-5 py-lg-0">
        <div class="row align-items-center">
            <div class="col-lg-4 wow zoomIn">
                <div class="img-banner d-none d-lg-block">
                    <img src="~/img/mobile_app.png" alt="">
                </div>
            </div>
            <div class="col-lg-8 wow fadeInRight">
                <h1 class="font-weight-normal mb-3">Get easy access of all features using One Health Application</h1>
                <a href="#"><img src="~/img/google_play.svg" alt="Googl Play"></a>
                <a href="#" class="ml-2"><img src="~/img/app_store.svg" alt="App Store"></a>
            </div>
        </div>
    </div>
</div> <!-- .banner-home -->
