@{
    ViewData["Title"] = "Lock Screen";

}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2 class="text-center">Session Locked</h2>
            <p>Please enter your password to continue.</p>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }

            <form asp-action="UnlockScreen" method="post">
                <input type="hidden" name="Email" value="@ViewBag.AdminUsername" />
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Unlock</button>
            </form>

        </div>
    </div>
</div>
